---
---

<div class="dialog-separator" role="separator" aria-hidden="true"></div>

<style>
  .dialog-separator {
    height: 1px;
    background-color: var(--bg-movie);
    margin: 16px -24px 0 -24px;
  }
</style>
